body,
html {
    height: 100%;
    width: 100%;
    margin: 0;

    .app {
        height: 100%;

        .wrapper {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100%;
            padding: 10px;

            .home {
                display: flex;
                justify-content: center;
                align-items: center;
                height: 100%;
            }
        }
    }
}

.socket-setting {
    width: 60%;
}

.socket-details {
    width: 100%;
    height: 100%;

    .table-like {
        .table-header {
            border: solid 1px #ddd;
            display: flex;

            & > div {
                border-left: solid 1px #ddd;
                height: 38px;
                line-height: 38px;

                &:first-child {
                    border-left: none;
                }
            }
        }

        .col-1 {
            width: 120px;
            line-height: 38px;
            justify-content: center;
            align-items: center;
            display: flex;
        }

        .col-2 {
            width: 80px;
            line-height: 38px;
            justify-content: center;
            align-items: center;
            display: flex;
        }

        .col-3 {
            line-height: 38px;
            width: calc(~'100% - 280px');
        }

        .col-4 {
            line-height: 38px;
            width: 80px;
            justify-content: center;
            align-items: center;
            display: flex;
        }

        .table-content{
            .item {
                border: solid 1px #ddd;
                border-top: none;
                display: flex;
            }
            .column {
                border-left: solid 1px #ddd;
                line-height: 38px;
                flex-shrink: 0;
                padding: 10px;
                &:first-child {
                    border-left: none;
                }

            }
        }
    }

    .header{
        .search-text{
            outline: none;
            padding-left: 5px;
        }
    }
}



.format {
    border: solid 1px #ddd;
    border-top: none;
}

.format ul {
    margin: 0 10px !important;
}

.socket-details .header {
    display: flex;
    justify-content: space-between;
}

.socket-details .tags {
    display: flex;
    justify-content: space-around;
}

.socket-details .tags .tag {
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 15px;
    border: 1px solid #ddd;
    border-radius: 15px;
    text-decoration: none;
}

.tag.selected {
    background: #5bc0de;
    color: white;
}

pre {
    white-space: pre-wrap;
    word-wrap: break-word;
}
